<meta content='{{ site.title }}' property='og:title' />

<!-- favicon -->
<link href="{{ '/assets/img/favicon.ico' | prepend: site.baseurl }}" rel='shortcut icon'>

<!-- CSS -->
<link rel='stylesheet' href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css'>
<link rel='stylesheet' href='/assets/css/global.css'>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

<!-- Configs -->
<meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
<meta content='text/html; charset=utf-8' http-equiv='content-type' />
{% if page.date %}
  <meta content='{{ site.url }}{{ page.url }}' property='og:url' />
  <meta content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}" property='og:description' />
  <meta content="article" property="og:type" />
  <meta content='{{ page.title }} - {{ site.title }}' property='og:title' />
  <title>{{ page.title }} - {{ site.title }}</title>
{% else %}
  <title>{{ site.title }}</title>
  <meta content='{{ site.title }}' property='og:title' />
  <meta content='{{ site.url }}' property='og:url' />
  <meta content="{{ site.description }}" property='og:description' />
  <meta content="blog" property="og:type" />
{% endif %}


<!-- SEO -->
{% seo %}