@font-face {
    font-family: 'AmericanTypeWriter'; /*a name to be used later*/
    src: url('../fonts/American Typewriter Regular.ttf'); /*URL to font*/
}

body {
    line-height: 1.65em;
    font-family: 'AmericanTypeWriter';
    //font-weight: 400;
    font-size: 16px;
    background-color: #fff; 
}

.meta time {
    position: relative;
    top: 3em;
    left: -15%;
    left: -45%;
    float: right;
}

.wrapper {
    max-width: 600px;
    width: 100%;
    margin: auto; }

.posts {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.posts a {
    color: #333;
    text-decoration: none;
	padding-left: 10%;
}
.posts .post {
    margin-bottom: 30px;
}

.content {
    padding: 35px;
}

.meta {
    font-size: 9px;
}
.meta, .meta * {
    color: #a0a0a0;
}

.post-title {
    font-size: 20px;
}

.post-header {
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
}

.post-header:after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background: #eee;
    position: absolute;
    border: 6px solid #fff;
    left: 50%;
    border-radius: 15px;
    margin-left: -9px;
    bottom: -9px; }

.page-nav.previous {
    margin-right: 20px;
    margin-left: -20px;
}

.page-nav {
    display: inline-block;
    height: 9px;
    width: 10px;
    background: #333;
    font-size: 0;
    border-radius: 3px;
    top: -30px;
    position: absolute;
}
  .page-nav:before, .page-nav:after {
    content: '';
    display: block;
    position: absolute;
}
  .page-nav:before {
    width: 6px;
    left: -3px;
    height: 2px;
    border-radius: 4px;
    background: #333;
}
  .page-nav:after {
    height: 1px;
    top: 2px;
    width: 3px;
    margin: auto;
    box-shadow: 0 2px 0 #fff, 0 4px 0 #fff;
    background: #fff;
}

.meta {
    font-size: 9px;
}
.meta, .meta * {
    color: #a0a0a0;
    position: relative;
    top: -0.4em;
    text-decoration: none;
}

.pagination {
    position: relative;
    margin: auto;
    text-align: center;
    opacity: .4;
    transition: opacity .4s;
}

.pagination:hover {
    opacity: 1;
}

.page-nav {
    display: inline-block;
    height: 9px;
    width: 10px;
    background: #333;
    font-size: 0;
    border-radius: 3px;
    top: -30px;
    position: absolute;
}

.page-nav:before, .page-nav:after {
    content: '';
    display: block;
    position: absolute;
}
  .page-nav:before {
    width: 6px;
    left: -3px;
    height: 2px;
    border-radius: 4px;
    background: #333;
}
  .page-nav:after {
    height: 1px;
    top: 2px;
    width: 3px;
    margin: auto;
    box-shadow: 0 2px 0 #fff, 0 4px 0 #fff;
    background: #fff; }

.previous {
    left: -60px;
}

.next {
    right: -60px;
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    transform: scale(-1, 1); }

time {
    text-decoration: none;
}

small:hover {
    text-decoration: none;
}

/* Fork me */
.fork-me {
    padding: 5px 35px 3px 10px;
    color: #fff;
    text-align: center;
    background: #333;
    position: absolute;
    right: 0;
    top: 30px;
    font-size: 12px;
    overflow: hidden;
    transition: all .3s;
    text-decoration: none;
}

.fork-me:before, .fork-me:after {
    transition: all .3s;
    content: '';
    display: block;
    position: absolute;
}
.fork-me:hover:before, .fork-me:hover:after {
    right: 15px;
}

.fork-me:before {
    width: 10px;
    height: 7px;
    border: 1px solid #eee;
    border-left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    top: 12px;
    right: 10px;
}

.fork-me:after {
    height: 1px;
    width: 47px;
    background: #eee;
    top: 12px;
    right: 10px;
    margin-top: 4px;
    margin-right: -36px;
}

/* Header */
.site-header {
    text-align: center;
    font-size: 12px; 
    padding: 30px 0;
}
.site-header .active {
    opacity: .2;
    border-bottom: 1px solid #333;
}

.ui-icon {
    display: inline-block !important;
    /* background: #333 !important; */
    position: relative !important;
}

/* Lists */
nav ul {
    list-style: none;
    padding-left: 2%;
}

.postlist {
    list-style: none;
}

nav li {
    padding-right: 2%;
    display: inline-block;
    text-align: center;
}

.content h1 {
    font-size: 18px;
}

/* Instagram */
.instagram {
    margin-bottom: 20px;
    height: 150px;
}
.instagram .img {
    transition: all 1s;
    opacity: 0;
    display: inline-block;
    background: #efefef;
    margin-right: 20px;
}
.instagram .img:hover {
    box-shadow: inset 0 0 5px #efefef;
}
.instagram .img.show {
    opacity: 1;
}
.instagram .img, .instagram img {
    border-radius: 200px;
    width: 140px;
    height: 140px;
}

/* Wrapper */
.wrapper, .container {
    width: 100%;
    margin: auto;
    max-width: 600px;
    height: auto;
}

.p404 {
    text-align: center;
}


/* Links */
.links {
  font-size: 0;
}

.links a {
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    padding: 3px 0;
    display: inline-block;
    color: #333;
    width: 20%;
    position: relative;
}

.links a:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -3px;
    margin-top: -25px;
    transition: .4s;
    height: 3px;
    width: 3px;
    border: 3px solid transparent;
    -webkit-transform: rotate(-45deg) skew(-10deg, -10deg);
    -moz-transform: rotate(-45deg) skew(-10deg, -10deg);
    transform: rotate(-45deg) skew(-10deg, -10deg);
}

.links a:hover:before {
      margin-top: -15px;
      border-bottom-color: #d8badc;
      border-left-color: #d8badc;
}

@media (max-width: 480px) {
  .links a {
        width: auto;
        height: 50px;
        margin-right: 70%;
    }
    
    .links a:before {
        -webkit-transform: rotate(-135deg) skew(-10deg, -10deg);
        -moz-transform: rotate(-135deg) skew(-10deg, -10deg);
        transform: rotate(-135deg) skew(-10deg, -10deg);
        left: -15px;
        margin-top: 6px !important;
    } 
    
    div.links {
        margin-left: 40%;
    }
}

.highlight {
    word-wrap:break-word; /* word-warp in code block */
}

article p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */
.site-footer {
    font-size: 11px;
    padding: 30px 30px 50px;
    text-align: center; 
}




