<html>
    <head>
        {% include head.html %}
    </head>
    
    <body>
        <div class="wrapper">
             <a id="fork-me" class="fork-me" href="https://github.com/le0x0ff/le0x0ff.github.io">Fork this site on GitHub</a>
            {% include header.html %}
      
            <section class="content">
                
                 <div class="container">
                     {{ content }}
                </div>
            </section>
            
            {% include footer.html %}
        </div>
    </body>
</html>
